body {
    background-color: rgb(29, 168, 214);
  }
  
  h1 {
    color: rgb(108, 108, 175);
    margin-left: 25px;
  }
  ol{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }