body {
    background-image: url(gead\ 1.jfif)  ;
    background-repeat: round;
  }
  
  h1 {
    color: rgb(108, 108, 175);
    margin-left: 25px;
  }
  ol{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  ul{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  li{
     font-family: cursive ;
     color: yellowgreen;
  }
nav{
  border: 12px solid black;
}